<!DOCTYPE html>
<html>
  <head>
    <style>
      div.newdiv {
        background-color: lightblue;
        margin: 20px 50px 10px 15px;
        padding: 50px 100px 20px 150px;
      }
    </style>
    <meta charset="utf-8">
    <title>Welcome to Half Life 4</title>
  </head>
  <body>
    <img src="https://upload.wikimedia.org/wikipedia/en/5/5f/TomandJerryTitleCardc.jpg" alt="Tom and Jerry">
    <br>
    <div class="newdiv">
    <a href="https://soundcloud.com/thanh-binh-nguyen-13/mi12-1417-tram-nang?utm_source=soundcloud&utm_campaign=share&utm_medium=facebook">Retard Nakhuy</a>
    <p title="Hey yo I am your new boss">bala bolo</p>
    <br>
    <p>yo men my friend</p>
    </div>
    <table>
      <tr>
        <th>yo man</th>
        <td>haha</td>
      </tr>
      <tr>
        <th>yo girl</th>
        <td>úm ba la xì bùa</td>
        <td>bùa xì ba la úm</td>
      </tr>
    </table>
    <h2 style="color:red;">Đây là một cái list</h2>
    <ul>
      <li>Item số 1</li>
      <li>Item số 2</li>
    </ul>
  </body>
</html>
